.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
    justify-content: center;
    align-items: center;
    // position: absolute;
    font-weight: bold;
    font-size: 60px;
  }
  h3 {
    // position: absolute;
    margin-top: -30px;
    font-size: 18px;
    font-style: italic;
  }
  img {
    // width: 50%;
  }
  button {
    justify-content: center;
    background-color: #51784f;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    .link {
      font-size: 18px;
      color: white;
      text-decoration: none;
    }
  }
}
