* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto Mono', monospace;
}

.app {
  margin-top: 0;
  padding-top: 0;
  background-color: #c2c2c2;
  .navbar {
    margin:5%;
    margin-top: 30px;
    background-color: #fdf7f2;
  }
}
