* {
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: "Roboto Mono", monospace;
}

.app {
  margin: 0px;
  padding: 0px;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  background-color: #c2c2c2;
  .navbar {
    // margin:5%;
    padding-top: 100x;
    background-color: #fdf7f2;
  }
}
