.breadcrumb{
    display:flex;
    flex-wrap: wrap;
    img {
        justify-content: center;
        width: 70%;
        height: 500px;
    }
    .text-header {
        justify-content: center;
        width:30%;
        background-color: #f4d3ec;
    }
}
.container {
    img {
        width:500px;
        height:509px;
    }
}
