
.footer-basic {
    margin-top:50px;
    border-top: 2.5px dashed #00000081;
    padding:0px 0;
    background-color:#fdf7f2
    ;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:15px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    margin-right: 20px;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }

  .footer-basic .social > a > img {
    width: 35px;
  }
  
 
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:13px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .list-inline {
      display: flex;
      display: block;
    .list-inline-item {
        // display:block;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }

  }
  