img {
    margin-top: 25px;
    margin-left:70px;
}

.navbar-group {
    margin-top: 3%;
    .link {
        color: #413f3d;
        text-decoration: none;
        font-weight: bold;
        margin-right: 5%;
        margin-top:20px;
        font-size: 16px;
    }
}
