.admin-register-container {
    
    margin-top: -50px;
    padding: 0;
    background-color: #1890ff;
}
.admin-register {
    width: 80%;
    background-color: #1890ff;
}

.admin-title {
    background-color: #1890ff;
    margin:0 px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.admin-register-link {
    background-color: white;
}