.breadcrumb {
  .text-header {
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 30px;
    background-color: #f4d3ec;
  }
}
.container {
  
}

.img {
  width: 100%;
  height: 100%;
}

h1,
h3 {
  margin: 10%;
}

.apartment-type-detail{
    margin-top: 200px;
    background-color: #f4d3ecb2;
}

.link {
    color:black;
}

.img-type {
  width: 600px;
  height: 509px;
}
